{
  "openapi": "3.0.3",
  "info": {
    "title": "Clerk Backend API",
    "x-logo": {
      "url": "https://clerk.com/_next/image?url=%2Fimages%2Fclerk-logo.svg&w=96&q=75",
      "altText": "Clerk docs",
      "href": "https://clerk.com/docs"
    },
    "contact": {
      "email": "support@clerk.com",
      "name": "Clerk Platform Team",
      "url": "https://clerk.com/support"
    },
    "description": "The Clerk REST Backend API, meant to be accessed by backend\nservers.\n\n### Versions\n\nWhen the API changes in a way that isn't compatible with older versions, a new version is released.\nEach version is identified by its release date, e.g. `2021-02-05`. For more information, please see [Clerk API Versions](https://clerk.com/docs/backend-requests/versioning/overview).\n\n\nPlease see https://clerk.com/docs for more information.",
    "version": "v1",
    "termsOfService": "https://clerk.com/terms",
    "license": {
      "name": "MIT",
      "url": "https://github.com/clerkinc/clerk-sdk-go/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://api.clerk.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Actor Tokens",
      "description": "Allow your users to sign in on behalf of other users.",
      "externalDocs": {
        "url": "https://clerk.com/docs/authentication/user-impersonation#actor-tokens"
      }
    },
    {
      "name": "Allow-list / Block-list",
      "description": "Allow-lists and Block-lists allow you to control who can sign up or sign in\nto your application, by restricting access based on the user's email\naddress or phone number.",
      "externalDocs": {
        "url": "https://clerk.com/docs/authentication/allowlist"
      }
    },
    {
      "name": "Clients",
      "description": "The Client object tracks sessions, as well as the state of any sign in and sign up attempts, for a given device.",
      "externalDocs": {
        "url": "https://clerk.com/docs/reference/clerkjs/client"
      }
    },
    {
      "name": "Domains",
      "description": "Domains represent each instance's URLs and DNS setup."
    },
    {
      "name": "Email Addresses",
      "description": "A user can be associated with one or more email addresses, which allows them to be contacted via email.",
      "externalDocs": {
        "url": "https://clerk.com/docs/reference/clerkjs/emailaddress"
      }
    },
    {
      "name": "Email & SMS Templates",
      "description": "Email & SMS templates allow you to customize the theming and wording of emails & SMS messages that are sent by your instance.",
      "externalDocs": {
        "url": "https://clerk.com/docs/authentication/email-sms-templates"
      }
    },
    {
      "name": "Instance Settings",
      "description": "Modify the settings of your instance."
    },
    {
      "name": "Invitations",
      "description": "Invitations allow you to invite someone to sign up to your application, via email.",
      "externalDocs": {
        "url": "https://clerk.com/docs/authentication/invitations"
      }
    },
    {
      "name": "JWKS",
      "description": "Retrieve the JSON Web Key Set which can be used to verify the token signatures of the instance."
    },
    {
      "name": "JWT Templates",
      "description": "JWT Templates allow you to generate custom authentication tokens\ntied to authenticated sessions, enabling you to integrate with third-party\nservices.",
      "externalDocs": {
        "url": "https://clerk.com/docs/request-authentication/jwt-templates"
      }
    },
    {
      "name": "OAuth Applications",
      "description": "OAuth applications contain data for clients using Clerk as an OAuth2 identity provider."
    },
    {
      "name": "Organizations",
      "description": "Organizations are used to group members under a common entity and provide shared access to resources.",
      "externalDocs": {
        "url": "https://clerk.com/docs/organizations/overview"
      }
    },
    {
      "name": "Organization Invitations",
      "description": "Invite users to an organization.",
      "externalDocs": {
        "url": "https://clerk.com/docs/organizations/invite-users"
      }
    },
    {
      "name": "Organization Memberships",
      "description": "Manage member roles in an organization.",
      "externalDocs": {
        "url": "https://clerk.com/docs/organizations/manage-member-roles"
      }
    },
    {
      "name": "Phone Numbers",
      "description": "A user can be associated with one or more phone numbers, which allows them to be contacted via SMS.",
      "externalDocs": {
        "url": "https://clerk.com/docs/reference/clerkjs/phonenumber"
      }
    },
    {
      "name": "Redirect URLs",
      "description": "Redirect URLs are whitelisted URLs that facilitate secure authentication flows in native applications (e.g. React Native, Expo).\nIn these contexts, Clerk ensures that security-critical nonces are passed only to the whitelisted URLs."
    },
    {
      "name": "SAML Connections",
      "description": "A SAML Connection holds configuration data required for facilitating a SAML SSO flow between your\nClerk Instance (SP) and a particular SAML IdP."
    },
    {
      "name": "Sessions",
      "description": "The Session object is an abstraction over an HTTP session.\nIt models the period of information exchange between a user and the server.\nSessions are created when a user successfully goes through the sign in or sign up flows.",
      "externalDocs": {
        "url": "https://clerk.com/docs/reference/clerkjs/session"
      }
    },
    {
      "name": "Sign-in Tokens",
      "description": "Sign-in tokens are JWTs that can be used to sign in to an application without specifying any credentials.\nA sign-in token can be used at most once and they can be consumed from the Frontend API using the `ticket` strategy."
    },
    {
      "name": "Testing Tokens",
      "description": "Tokens meant for use by end-to-end test suites in requests to the Frontend API, so as to bypass bot detection measures.",
      "externalDocs": {
        "url": "https://clerk.com/docs/testing/overview#testing-tokens"
      }
    },
    {
      "name": "Users",
      "description": "The user object represents a user that has successfully signed up to your application.",
      "externalDocs": {
        "url": "https://clerk.com/docs/reference/clerkjs/user"
      }
    },
    {
      "name": "Webhooks",
      "description": "You can configure webhooks to be notified about various events that happen on your instance.",
      "externalDocs": {
        "url": "https://clerk.com/docs/integration/webhooks"
      }
    },
    {
      "name": "Miscellaneous",
      "description": "Various endpoints that do not belong in any particular category."
    },
    {
      "name": "Beta Features",
      "description": "Modify instance settings that are currently in beta."
    }
  ],
  "externalDocs": {
    "url": "https://clerk.com/docs"
  },
  "paths": {
    "/public/interstitial": {
      "get": {
        "security": [],
        "summary": "Returns the markup for the interstitial page",
        "description": "The Clerk interstitial endpoint serves an html page that loads clerk.js in order to check the user's authentication state.\nIt is used by Clerk SDKs when the user's authentication state cannot be immediately determined.",
        "operationId": "GetPublicInterstitial",
        "tags": [
          "Miscellaneous"
        ],
        "parameters": [
          {
            "name": "frontendApi",
            "in": "query",
            "required": false,
            "description": "The Frontend API key of your instance",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "publishable_key",
            "in": "query",
            "required": false,
            "description": "The publishable key of your instance",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The interstitial page markup"
          },
          "400": {
            "description": "A required query parameter is missing"
          },
          "500": {
            "description": "An infinite redirect loop was detected"
          }
        }
      }
    },
    "/jwks": {
      "get": {
        "operationId": "GetJWKS",
        "summary": "Retrieve the JSON Web Key Set of the instance",
        "description": "Retrieve the JSON Web Key Set of the instance",
        "tags": [
          "JWKS"
        ],
        "responses": {
          "200": {
            "description": "The JSON Web Key Set"
          }
        }
      }
    },
    "/clients": {
      "get": {
        "deprecated": true,
        "operationId": "GetClientList",
        "tags": [
          "Clients"
        ],
        "summary": "List all clients",
        "description": "Returns a list of all clients. The clients are returned sorted by creation date,\nwith the newest clients appearing first.\nWarning: the endpoint is being deprecated and will be removed in future versions.",
        "parameters": [
          {
            "$ref": "#/components/parameters/LimitParameter"
          },
          {
            "$ref": "#/components/parameters/OffsetParameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Client.List"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "410": {
            "$ref": "#/components/responses/DeprecatedEndpoint"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/clients/verify": {
      "post": {
        "operationId": "VerifyClient",
        "tags": [
          "Clients"
        ],
        "summary": "Verify a client",
        "description": "Verifies the client in the provided token",
        "requestBody": {
          "description": "Parameters.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "A JWT Token that represents the active client."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Client"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/clients/{client_id}": {
      "get": {
        "operationId": "GetClient",
        "tags": [
          "Clients"
        ],
        "summary": "Get a client",
        "description": "Returns the details of a client.",
        "parameters": [
          {
            "name": "client_id",
            "in": "path",
            "description": "Client ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Client"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/email_addresses": {
      "post": {
        "operationId": "CreateEmailAddress",
        "tags": [
          "Email Addresses"
        ],
        "summary": "Create an email address",
        "description": "Create a new email address",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "The ID representing the user"
                  },
                  "email_address": {
                    "type": "string",
                    "description": "The new email address. Must adhere to the RFC 5322 specification for email address format."
                  },
                  "verified": {
                    "type": "boolean",
                    "description": "When created, the email address will be marked as verified.",
                    "nullable": true
                  },
                  "primary": {
                    "type": "boolean",
                    "description": "Create this email address as the primary email address for the user.\nDefault: false, unless it is the first email address.",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmailAddress"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/email_addresses/{email_address_id}": {
      "get": {
        "operationId": "GetEmailAddress",
        "tags": [
          "Email Addresses"
        ],
        "summary": "Retrieve an email address",
        "description": "Returns the details of an email address.",
        "parameters": [
          {
            "name": "email_address_id",
            "in": "path",
            "description": "The ID of the email address to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmailAddress"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "delete": {
        "operationId": "DeleteEmailAddress",
        "tags": [
          "Email Addresses"
        ],
        "summary": "Delete an email address",
        "description": "Delete the email address with the given ID",
        "parameters": [
          {
            "name": "email_address_id",
            "in": "path",
            "description": "The ID of the email address to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeletedObject"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "patch": {
        "operationId": "UpdateEmailAddress",
        "tags": [
          "Email Addresses"
        ],
        "summary": "Update an email address",
        "description": "Updates an email address.",
        "parameters": [
          {
            "name": "email_address_id",
            "in": "path",
            "description": "The ID of the email address to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verified": {
                    "type": "boolean",
                    "description": "The email address will be marked as verified.",
                    "nullable": true
                  },
                  "primary": {
                    "type": "boolean",
                    "description": "Set this email address as the primary email address for the user.",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/EmailAddress"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/phone_numbers": {
      "post": {
        "operationId": "CreatePhoneNumber",
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Create a phone number",
        "description": "Create a new phone number",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "The ID representing the user"
                  },
                  "phone_number": {
                    "type": "string",
                    "description": "The new phone number. Must adhere to the E.164 standard for phone number format."
                  },
                  "verified": {
                    "type": "boolean",
                    "description": "When created, the phone number will be marked as verified.",
                    "nullable": true
                  },
                  "primary": {
                    "type": "boolean",
                    "description": "Create this phone number as the primary phone number for the user.\nDefault: false, unless it is the first phone number.",
                    "nullable": true
                  },
                  "reserved_for_second_factor": {
                    "type": "boolean",
                    "description": "Create this phone number as reserved for multi-factor authentication.\nThe phone number must also be verified.\nIf there are no other reserved second factors, the phone number will be set as the default second factor.",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PhoneNumber"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/phone_numbers/{phone_number_id}": {
      "get": {
        "operationId": "GetPhoneNumber",
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Retrieve a phone number",
        "description": "Returns the details of a phone number",
        "parameters": [
          {
            "name": "phone_number_id",
            "in": "path",
            "description": "The ID of the phone number to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/PhoneNumber"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "delete": {
        "operationId": "DeletePhoneNumber",
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Delete a phone number",
        "description": "Delete the phone number with the given ID",
        "parameters": [
          {
            "name": "phone_number_id",
            "in": "path",
            "description": "The ID of the phone number to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeletedObject"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "patch": {
        "operationId": "UpdatePhoneNumber",
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Update a phone number",
        "description": "Updates a phone number",
        "parameters": [
          {
            "name": "phone_number_id",
            "in": "path",
            "description": "The ID of the phone number to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verified": {
                    "type": "boolean",
                    "description": "The phone number will be marked as verified.",
                    "nullable": true
                  },
                  "primary": {
                    "type": "boolean",
                    "description": "Set this phone number as the primary phone number for the user.",
                    "nullable": true
                  },
                  "reserved_for_second_factor": {
                    "type": "boolean",
                    "description": "Set this phone number as reserved for multi-factor authentication.\nThe phone number must also be verified.\nIf there are no other reserved second factors, the phone number will be set as the default second factor.",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/PhoneNumber"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/sessions": {
      "get": {
        "operationId": "GetSessionList",
        "tags": [
          "Sessions"
        ],
        "summary": "List all sessions",
        "description": "Returns a list of all sessions.\nThe sessions are returned sorted by creation date, with the newest sessions appearing first.\n**Deprecation Notice (2024-01-01):** All parameters were initially considered optional, however\nmoving forward at least one of `client_id` or `user_id` parameters should be provided.",
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": false,
            "description": "List sessions for the given client",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": false,
            "description": "List sessions for the given user",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter sessions by the provided status",
            "schema": {
              "type": "string",
              "enum": [
                "abandoned",
                "active",
                "ended",
                "expired",
                "removed",
                "replaced",
                "revoked"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/LimitParameter"
          },
          {
            "$ref": "#/components/parameters/OffsetParameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Session.List"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/sessions/{session_id}": {
      "get": {
        "operationId": "GetSession",
        "tags": [
          "Sessions"
        ],
        "summary": "Retrieve a session",
        "description": "Retrieve the details of a session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "The ID of the session",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Session"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/sessions/{session_id}/revoke": {
      "post": {
        "operationId": "RevokeSession",
        "tags": [
          "Sessions"
        ],
        "summary": "Revoke a session",
        "description": "Sets the status of a session as \"revoked\", which is an unauthenticated state.\nIn multi-session mode, a revoked session will still be returned along with its client object, however the user will need to sign in again.",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "The ID of the session",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Session"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/sessions/{session_id}/verify": {
      "post": {
        "deprecated": true,
        "operationId": "VerifySession",
        "tags": [
          "Sessions"
        ],
        "summary": "Verify a session",
        "description": "Returns the session if it is authenticated, otherwise returns an error.\nWARNING: This endpoint is deprecated and will be removed in future versions. We strongly recommend switching to networkless verification using short-lived session tokens,\n         which is implemented transparently in all recent SDK versions (e.g. [NodeJS SDK](https://clerk.com/docs/backend-requests/handling/nodejs#clerk-express-require-auth)).\n         For more details on how networkless verification works, refer to our [Session Tokens documentation](https://clerk.com/docs/backend-requests/resources/session-tokens).",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "The ID of the session",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Parameters.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "The JWT that is sent via the `__session` cookie from your frontend.\nNote: this JWT must be associated with the supplied session ID."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Session"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "410": {
            "$ref": "#/components/responses/DeprecatedEndpoint"
          }
        }
      }
    },
    "/sessions/{session_id}/tokens/{template_name}": {
      "post": {
        "operationId": "CreateSessionTokenFromTemplate",
        "tags": [
          "Sessions"
        ],
        "summary": "Create a session token from a jwt template",
        "description": "Creates a JSON Web Token(JWT) based on a session and a JWT Template name defined for your instance",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "The ID of the session",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "template_name",
            "in": "path",
            "description": "The name of the JWT Template defined in your instance (e.g. `custom_hasura`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "enum": [
                        "token"
                      ]
                    },
                    "jwt": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/templates/{template_type}": {
      "get": {
        "deprecated": true,
        "operationId": "GetTemplateList",
        "summary": "List all templates",
        "description": "Returns a list of all templates.\nThe templates are returned sorted by position.",
        "tags": [
          "Email & SMS Templates"
        ],
        "parameters": [
          {
            "name": "template_type",
            "in": "path",
            "description": "The type of templates to list (email or SMS)",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "email",
                "sms"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Template.List"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/templates/{template_type}/{slug}": {
      "get": {
        "deprecated": true,
        "operationId": "GetTemplate",
        "summary": "Retrieve a template",
        "description": "Returns the details of a template",
        "tags": [
          "Email & SMS Templates"
        ],
        "parameters": [
          {
            "name": "template_type",
            "in": "path",
            "description": "The type of templates to retrieve (email or SMS)",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "email",
                "sms"
              ]
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "The slug (i.e. machine-friendly name) of the template to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Template"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "put": {
        "deprecated": true,
        "operationId": "UpsertTemplate",
        "summary": "Update a template for a given type and slug",
        "description": "Updates the existing template of the given type and slug",
        "tags": [
          "Email & SMS Templates"
        ],
        "parameters": [
          {
            "name": "template_type",
            "in": "path",
            "description": "The type of template to update",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "email",
                "sms"
              ]
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "The slug of the template to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The user-friendly name of the template"
                  },
                  "subject": {
                    "type": "string",
                    "description": "The email subject.\nApplicable only to email templates.",
                    "nullable": true
                  },
                  "markup": {
                    "type": "string",
                    "description": "The editor markup used to generate the body of the template",
                    "nullable": true
                  },
                  "body": {
                    "type": "string",
                    "description": "The template body before variable interpolation"
                  },
                  "delivered_by_clerk": {
                    "type": "boolean",
                    "description": "Whether Clerk should deliver emails or SMS messages based on the current template",
                    "nullable": true
                  },
                  "from_email_name": {
                    "type": "string",
                    "description": "The local part of the From email address that will be used for emails.\nFor example, in the address 'hello@example.com', the local part is 'hello'.\nApplicable only to email templates."
                  },
                  "reply_to_email_name": {
                    "type": "string",
                    "description": "The local part of the Reply To email address that will be used for emails.\nFor example, in the address 'hello@example.com', the local part is 'hello'.\nApplicable only to email templates."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Template"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/templates/{template_type}/{slug}/revert": {
      "post": {
        "deprecated": true,
        "operationId": "RevertTemplate",
        "summary": "Revert a template",
        "description": "Reverts an updated template to its default state",
        "tags": [
          "Email & SMS Templates"
        ],
        "parameters": [
          {
            "name": "template_type",
            "in": "path",
            "description": "The type of template to revert",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "email",
                "sms"
              ]
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "The slug of the template to revert",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Template"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/templates/{template_type}/{slug}/preview": {
      "post": {
        "deprecated": true,
        "operationId": "PreviewTemplate",
        "summary": "Preview changes to a template",
        "description": "Returns a preview of a template for a given template_type, slug and body",
        "tags": [
          "Email & SMS Templates"
        ],
        "parameters": [
          {
            "name": "template_type",
            "in": "path",
            "description": "The type of template to preview",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "The slug of the template to preview",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Required parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "subject": {
                    "type": "string",
                    "description": "The email subject.\nApplicable only to email templates.",
                    "nullable": true
                  },
                  "body": {
                    "type": "string",
                    "description": "The template body before variable interpolation"
                  },
                  "from_email_name": {
                    "type": "string",
                    "description": "The local part of the From email address that will be used for emails.\nFor example, in the address 'hello@example.com', the local part is 'hello'.\nApplicable only to email templates."
                  },
                  "reply_to_email_name": {
                    "type": "string",
                    "description": "The local part of the Reply To email address that will be used for emails.\nFor example, in the address 'hello@example.com', the local part is 'hello'.\nApplicable only to email templates."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/templates/{template_type}/{slug}/toggle_delivery": {
      "post": {
        "deprecated": true,
        "operationId": "ToggleTemplateDelivery",
        "summary": "Toggle the delivery by Clerk for a template of a given type and slug",
        "description": "Toggles the delivery by Clerk for a template of a given type and slug.\nIf disabled, Clerk will not deliver the resulting email or SMS.\nThe app developer will need to listen to the `email.created` or `sms.created` webhooks in order to handle delivery themselves.",
        "tags": [
          "Email & SMS Templates"
        ],
        "parameters": [
          {
            "name": "template_type",
            "in": "path",
            "description": "The type of template to toggle delivery for",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "email",
                "sms"
              ]
            }
          },
          {
            "name": "slug",
            "in": "path",
            "description": "The slug of the template for which to toggle delivery",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "delivered_by_clerk": {
                    "type": "boolean",
                    "description": "Whether Clerk should deliver emails or SMS messages based on the current template",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Template"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/users": {
      "get": {
        "operationId": "GetUserList",
        "summary": "List all users",
        "description": "Returns a list of all users.\nThe users are returned sorted by creation date, with the newest users appearing first.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "email_address",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Returns users with the specified email addresses.\nAccepts up to 100 email addresses.\nAny email addresses not found are ignored.",
            "required": false
          },
          {
            "name": "phone_number",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Returns users with the specified phone numbers.\nAccepts up to 100 phone numbers.\nAny phone numbers not found are ignored.",
            "required": false
          },
          {
            "name": "external_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Returns users with the specified external ids.\nFor each external id, the `+` and `-` can be\nprepended to the id, which denote whether the\nrespective external id should be included or\nexcluded from the result set.\nAccepts up to 100 external ids.\nAny external ids not found are ignored.",
            "required": false
          },
          {
            "name": "username",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Returns users with the specified usernames.\nAccepts up to 100 usernames.\nAny usernames not found are ignored.",
            "required": false
          },
          {
            "name": "web3_wallet",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Returns users with the specified web3 wallet addresses.\nAccepts up to 100 web3 wallet addresses.\nAny web3 wallet addressed not found are ignored.",
            "required": false
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Returns users with the user ids specified.\nFor each user id, the `+` and `-` can be\nprepended to the id, which denote whether the\nrespective user id should be included or\nexcluded from the result set.\nAccepts up to 100 user ids.\nAny user ids not found are ignored.",
            "required": false
          },
          {
            "name": "organization_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Returns users that have memberships to the\ngiven organizations.\nFor each organization id, the `+` and `-` can be\nprepended to the id, which denote whether the\nrespective organization should be included or\nexcluded from the result set.\nAccepts up to 100 organization ids.",
            "required": false
          },
          {
            "name": "query",
            "in": "query",
            "description": "Returns users that match the given query.\nFor possible matches, we check the email addresses, phone numbers, usernames, web3 wallets, user ids, first and last names.\nThe query value doesn't need to match the exact value you are looking for, it is capable of partial matches as well.",
            "schema": {
              "type": "string"
            },
            "required": false
          },
          {
            "name": "last_active_at_since",
            "in": "query",
            "description": "Returns users that had session activity since the given date, with day precision.\nProviding a value with higher precision than day will result in an error.\nExample: use 1700690400000 to retrieve users that had session activity from 2023-11-23 until the current day.",
            "example": 1700690400000,
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/LimitParameter"
          },
          {
            "$ref": "#/components/parameters/OffsetParameter"
          },
          {
            "name": "order_by",
            "in": "query",
            "description": "Allows to return users in a particular order.\nAt the moment, you can order the returned users by their `created_at`,`updated_at`,`email_address`,`web3wallet`,`first_name`,`last_name`,`phone_number`,`username`,`last_active_at`,`last_sign_in_at`.\nIn order to specify the direction, you can use the `+/-` symbols prepended in the property to order by.\nFor example, if you want users to be returned in descending order according to their `created_at` property, you can use `-created_at`.\nIf you don't use `+` or `-`, then `+` is implied. We only support one `order_by` parameter, and if multiple `order_by` parameters are provided, we will only keep the first one. For example,\nif you pass `order_by=username&order_by=created_at`, we will consider only the first `order_by` parameter, which is `username`. The `created_at` parameter will be ignored in this case.",
            "schema": {
              "type": "string",
              "default": "-created_at"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/User.List"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "post": {
        "operationId": "CreateUser",
        "summary": "Create a new user",
        "description": "Creates a new user. Your user management settings determine how you should setup your user model.\n\nAny email address and phone number created using this method will be marked as verified.\n\nNote: If you are performing a migration, check out our guide on [zero downtime migrations](https://clerk.com/docs/deployments/migrate-overview).\n\nA rate limit rule of 20 requests per 10 seconds is applied to this endpoint.",
        "tags": [
          "Users"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "external_id": {
                    "type": "string",
                    "description": "The ID of the user as used in your external systems or your previous authentication solution.\nMust be unique across your instance.",
                    "nullable": true
                  },
                  "first_name": {
                    "type": "string",
                    "description": "The first name to assign to the user",
                    "nullable": true
                  },
                  "last_name": {
                    "type": "string",
                    "description": "The last name to assign to the user",
                    "nullable": true
                  },
                  "email_address": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Email addresses to add to the user.\nMust be unique across your instance.\nThe first email address will be set as the user's primary email address."
                  },
                  "phone_number": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Phone numbers to add to the user.\nMust be unique across your instance.\nThe first phone number will be set as the user's primary phone number."
                  },
                  "web3_wallet": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Web3 wallets to add to the user.\nMust be unique across your instance.\nThe first wallet will be set as the user's primary wallet."
                  },
                  "username": {
                    "type": "string",
                    "description": "The username to give to the user.\nIt must be unique across your instance.",
                    "nullable": true
                  },
                  "password": {
                    "type": "string",
                    "description": "The plaintext password to give the user.\nMust be at least 8 characters long, and can not be in any list of hacked passwords.",
                    "nullable": true
                  },
                  "password_digest": {
                    "type": "string",
                    "description": "In case you already have the password digests and not the passwords, you can use them for the newly created user via this property.\nThe digests should be generated with one of the supported algorithms.\nThe hashing algorithm can be specified using the `password_hasher` property."
                  },
                  "password_hasher": {
                    "type": "string",
                    "description": "The hashing algorithm that was used to generate the password digest.\nThe algorithms we support at the moment are [bcrypt](https://en.wikipedia.org/wiki/Bcrypt), [bcrypt_sha256_django](https://docs.djangoproject.com/en/4.0/topics/auth/passwords/),\n[md5](https://en.wikipedia.org/wiki/MD5), pbkdf2_sha256, pbkdf2_sha512, [pbkdf2_sha256_django](https://docs.djangoproject.com/en/4.0/topics/auth/passwords/),\n[phpass](https://www.openwall.com/phpass/), [scrypt_firebase](https://firebaseopensource.com/projects/firebase/scrypt/),\n[scrypt_werkzeug](https://werkzeug.palletsprojects.com/en/3.0.x/utils/#werkzeug.security.generate_password_hash), [sha256](https://en.wikipedia.org/wiki/SHA-2)\nand the [argon2](https://argon2.online/) variants argon2i and argon2id.\n\nIf you need support for any particular hashing algorithm, [please let us know](https://clerk.com/support).\n\nNote: for password hashers considered insecure (at this moment MD5 and SHA256), the corresponding user password hashes will be transparently migrated to Bcrypt (a secure hasher) upon the user's first successful password sign in.\nInsecure schemes are marked with `(insecure)` in the list below.\n\nEach of the supported hashers expects the incoming digest to be in a particular format. Specifically:\n\n**bcrypt:** The digest should be of the following form:\n\n`$<algorithm version>$<cost>$<salt & hash>`\n\n**bcrypt_sha256_django:** This is the Django-specific variant of Bcrypt, using SHA256 hashing function. The format should be as follows (as exported from Django):\n\n`bcrypt_sha256$$<algorithm version>$<cost>$<salt & hash>`\n\n**md5** (insecure): The digest should follow the regular form e.g.:\n\n`5f4dcc3b5aa765d61d8327deb882cf99`\n\n**pbkdf2_sha256:** This is the PBKDF2 algorithm using the SHA256 hashing function. The format should be as follows:\n\n`pbkdf2_sha256$<iterations>$<salt>$<hash>`\n\nNote: Both the salt and the hash are expected to be base64-encoded.\n\n**pbkdf2_sha512:** This is the PBKDF2 algorithm using the SHA512 hashing function. The format should be as follows:\n\n`pbkdf2_sha512$<iterations>$<salt>$<hash>`\n\n  _iterations:_ The number of iterations used. Must be an integer less than 420000.\n  _salt:_ The salt used when generating the hash. Must be less than 1024 bytes.\n  _hash:_ The hex-encoded hash. Must have been generated with a key length less than 1024 bytes.\n\n**pbkdf2_sha256_django:** This is the Django-specific variant of PBKDF2 and the digest should have the following format (as exported from Django):\n\n`pbkdf2_sha256$<iterations>$<salt>$<hash>`\n\nNote: The salt is expected to be un-encoded, the hash is expected base64-encoded.\n\n**pbkdf2_sha1:** This is similar to pkbdf2_sha256_django, but with two differences:\n1. uses sha1 instead of sha256\n2. accepts the hash as a hex-encoded string\n\nThe format is the following:\n\n`pbkdf2_sha1$<iterations>$<salt>$<hash-as-hex-string>`\n\n**phpass:** Portable public domain password hashing framework for use in PHP applications. Digests hashed with phpass have the following sections:\n\nThe format is the following:\n\n`$P$<rounds><salt><encoded-checksum>`\n\n- $P$ is the prefix used to identify phpass hashes.\n- rounds is a single character encoding a 6-bit integer representing the number of rounds used.\n- salt is eight characters drawn from [./0-9A-Za-z], providing a 48-bit salt.\n- checksum is 22 characters drawn from the same set, encoding the 128-bit checksum with MD5.\n\n**scrypt_firebase:** The Firebase-specific variant of scrypt.\nThe value is expected to have 6 segments separated by the $ character and include the following information:\n\n_hash:_ The actual Base64 hash. This can be retrieved when exporting the user from Firebase.\n_salt:_ The salt used to generate the above hash. Again, this is given when exporting the user.\n_signer key:_ The base64 encoded signer key.\n_salt separator:_ The base64 encoded salt separator.\n_rounds:_ The number of rounds the algorithm needs to run.\n_memory cost:_ The cost of the algorithm run\n\nThe first 2 (hash and salt) are per user and can be retrieved when exporting the user from Firebase.\nThe other 4 values (signer key, salt separator, rounds and memory cost) are project-wide settings and can be retrieved from the project's password hash parameters.\n\nOnce you have all these, you can combine it in the following format and send this as the digest in order for Clerk to accept it:\n\n`<hash>$<salt>$<signer key>$<salt separator>$<rounds>$<memory cost>`\n\n**scrypt_werkzeug:** The Werkzeug-specific variant of scrypt.\n\n  The value is expected to have 3 segments separated by the $ character and include the following information:\n\n  _algorithm args:_ The algorithm used to generate the hash.\n  _salt:_ The salt used to generate the above hash.\n  _hash:_ The actual Base64 hash.\n\n  The algorithm args are the parameters used to generate the hash and are included in the digest.\n\n**argon2i:** Algorithms in the argon2 family generate digests that encode the following information:\n\n_version (v):_ The argon version, version 19 is assumed\n_memory (m):_ The memory used by the algorithm (in kibibytes)\n_iterations (t):_ The number of iterations to perform\n_parallelism (p):_ The number of threads to use\n\nParts are demarcated by the `$` character, with the first part identifying the algorithm variant.\nThe middle part is a comma-separated list of the encoding options (memory, iterations, parallelism).\nThe final part is the actual digest.\n\n`$argon2i$v=19$m=4096,t=3,p=1$4t6CL3P7YiHBtwESXawI8Hm20zJj4cs7/4/G3c187e0$m7RQFczcKr5bIR0IIxbpO2P0tyrLjf3eUW3M3QSwnLc`\n\n**argon2id:** See the previous algorithm for an explanation of the formatting.\n\nFor the argon2id case, the value of the algorithm in the first part of the digest is `argon2id`:\n\n`$argon2id$v=19$m=64,t=4,p=8$Z2liZXJyaXNo$iGXEpMBTDYQ8G/71tF0qGjxRHEmR3gpGULcE93zUJVU`\n\n**sha256** (insecure): The digest should be a 64-length hex string, e.g.:\n\n`9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08`\n\n**sha256_salted** (insecure): The digest should be a 64-length hex string with a salt.\n\nThe format is the following:\n  `<hash>$<salt>`\n\nThe value is expected to have 2 segments separated by the $ character and include the following information:\n  _hash:_ The sha256 hash, a 64-length hex string.\n  _salt:_ The salt used to generate the above hash. Must be between 1 and 1024 bits.",
                    "enum": [
                      "argon2i",
                      "argon2id",
                      "bcrypt",
                      "bcrypt_sha256_django",
                      "md5",
                      "pbkdf2_sha256",
                      "pbkdf2_sha512",
                      "pbkdf2_sha256_django",
                      "pbkdf2_sha1",
                      "phpass",
                      "scrypt_firebase",
                      "scrypt_werkzeug",
                      "sha256",
                      "sha256_salted"
                    ]
                  },
                  "skip_password_checks": {
                    "type": "boolean",
                    "description": "When set to `true` all password checks are skipped.\nIt is recommended to use this method only when migrating plaintext passwords to Clerk.\nUpon migration the user base should be prompted to pick stronger password."
                  },
                  "skip_password_requirement": {
                    "type": "boolean",
                    "description": "When set to `true`, `password` is not required anymore when creating the user and can be omitted.\nThis is useful when you are trying to create a user that doesn't have a password, in an instance that is using passwords.\nPlease note that you cannot use this flag if password is the only way for a user to sign into your instance."
                  },
                  "totp_secret": {
                    "type": "string",
                    "description": "In case TOTP is configured on the instance, you can provide the secret to enable it on the newly created user without the need to reset it.\nPlease note that currently the supported options are:\n* Period: 30 seconds\n* Code length: 6 digits\n* Algorithm: SHA1"
                  },
                  "backup_codes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "If Backup Codes are configured on the instance, you can provide them to enable it on the newly created user without the need to reset them.\nYou must provide the backup codes in plain format or the corresponding bcrypt digest."
                  },
                  "public_metadata": {
                    "type": "object",
                    "description": "Metadata saved on the user, that is visible to both your Frontend and Backend APIs"
                  },
                  "private_metadata": {
                    "type": "object",
                    "description": "Metadata saved on the user, that is only visible to your Backend API"
                  },
                  "unsafe_metadata": {
                    "type": "object",
                    "description": "Metadata saved on the user, that can be updated from both the Frontend and Backend APIs.\nNote: Since this data can be modified from the frontend, it is not guaranteed to be safe."
                  },
                  "created_at": {
                    "type": "string",
                    "description": "A custom date/time denoting _when_ the user signed up to the application, specified in RFC3339 format (e.g. `2012-10-20T07:15:20.902Z`)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/User"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "403": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/users/count": {
      "get": {
        "operationId": "GetUsersCount",
        "summary": "Count users",
        "description": "Returns a total count of all users that match the given filtering criteria.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "email_address",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Counts users with the specified email addresses.\nAccepts up to 100 email addresses.\nAny email addresses not found are ignored.",
            "required": false
          },
          {
            "name": "phone_number",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Counts users with the specified phone numbers.\nAccepts up to 100 phone numbers.\nAny phone numbers not found are ignored.",
            "required": false
          },
          {
            "name": "external_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Counts users with the specified external ids.\nAccepts up to 100 external ids.\nAny external ids not found are ignored.",
            "required": false
          },
          {
            "name": "username",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Counts users with the specified usernames.\nAccepts up to 100 usernames.\nAny usernames not found are ignored.",
            "required": false
          },
          {
            "name": "web3_wallet",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Counts users with the specified web3 wallet addresses.\nAccepts up to 100 web3 wallet addresses.\nAny web3 wallet addressed not found are ignored.",
            "required": false
          },
          {
            "name": "user_id",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Counts users with the user ids specified.\nAccepts up to 100 user ids.\nAny user ids not found are ignored.",
            "required": false
          },
          {
            "name": "query",
            "in": "query",
            "description": "Counts users that match the given query.\nFor possible matches, we check the email addresses, phone numbers, usernames, web3 wallets, user ids, first and last names.\nThe query value doesn't need to match the exact value you are looking for, it is capable of partial matches as well.",
            "schema": {
              "type": "string"
            },
            "required": false
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/User.Count"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/users/{user_id}": {
      "get": {
        "operationId": "GetUser",
        "summary": "Retrieve a user",
        "description": "Retrieve the details of a user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "The ID of the user to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/User"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      },
      "patch": {
        "operationId": "UpdateUser",
        "summary": "Update a user",
        "description": "Update a user's attributes.\n\nYou can set the user's primary contact identifiers (email address and phone numbers) by updating the `primary_email_address_id` and `primary_phone_number_id` attributes respectively.\nBoth IDs should correspond to verified identifications that belong to the user.\n\nYou can remove a user's username by setting the username attribute to null or the blank string \"\".\nThis is a destructive action; the identification will be deleted forever.\nUsernames can be removed only if they are optional in your instance settings and there's at least one other identifier which can be used for authentication.\n\nThis endpoint allows changing a user's password. When passing the `password` parameter directly you have two further options.\nYou can ignore the password policy checks for your instance by setting the `skip_password_checks` parameter to `true`.\nYou can also choose to sign the user out of all their active sessions on any device once the password is updated. Just set `sign_out_of_other_sessions` to `true`.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "The ID of the user to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "external_id": {
                    "type": "string",
                    "description": "The ID of the user as used in your external systems or your previous authentication solution.\nMust be unique across your instance.",
                    "nullable": true
                  },
                  "first_name": {
                    "type": "string",
                    "description": "The first name to assign to the user",
                    "nullable": true
                  },
                  "last_name": {
                    "type": "string",
                    "description": "The last name to assign to the user",
                    "nullable": true
                  },
                  "primary_email_address_id": {
                    "type": "string",
                    "description": "The ID of the email address to set as primary.\nIt must be verified, and present on the current user."
                  },
                  "notify_primary_email_address_changed": {
                    "type": "boolean",
                    "description": "If set to `true`, the user will be notified that their primary email address has changed.\nBy default, no notification is sent.",
                    "default": false
                  },
                  "primary_phone_number_id": {
                    "type": "string",
                    "description": "The ID of the phone number to set as primary.\nIt must be verified, and present on the current user."
                  },
                  "primary_web3_wallet_id": {
                    "type": "string",
                    "description": "The ID of the web3 wallets to set as primary.\nIt must be verified, and present on the current user."
                  },
                  "username": {
                    "type": "string",
                    "description": "The username to give to the user.\nIt must be unique across your instance.",
                    "nullable": true
                  },
                  "profile_image_id": {
                    "type": "string",
                    "description": "The ID of the image to set as the user's profile image",
                    "nullable": true
                  },
                  "password": {
                    "type": "string",
                    "description": "The plaintext password to give the user.\nMust be at least 8 characters long, and can not be in any list of hacked passwords.",
                    "nullable": true
                  },
                  "password_digest": {
                    "type": "string",
                    "description": "In case you already have the password digests and not the passwords, you can use them for the newly created user via this property.\nThe digests should be generated with one of the supported algorithms.\nThe hashing algorithm can be specified using the `password_hasher` property."
                  },
                  "password_hasher": {
                    "type": "string",
                    "description": "The hashing algorithm that was used to generate the password digest.\nThe algorithms we support at the moment are [bcrypt](https://en.wikipedia.org/wiki/Bcrypt), [bcrypt_sha256_django](https://docs.djangoproject.com/en/4.0/topics/auth/passwords/),\n[md5](https://en.wikipedia.org/wiki/MD5), pbkdf2_sha256, pbkdf2_sha512, [pbkdf2_sha256_django](https://docs.djangoproject.com/en/4.0/topics/auth/passwords/),\n[phpass](https://www.openwall.com/phpass/), [scrypt_firebase](https://firebaseopensource.com/projects/firebase/scrypt/),\n[sha256](https://en.wikipedia.org/wiki/SHA-2), [scrypt_werkzeug](https://werkzeug.palletsprojects.com/en/3.0.x/utils/#werkzeug.security.generate_password_hash)\nand the [argon2](https://argon2.online/) variants argon2i and argon2id.\n\nIf you need support for any particular hashing algorithm, [please let us know](https://clerk.com/support).\n\nNote: for password hashers considered insecure (at this moment MD5 and SHA256), the corresponding user password hashes will be transparently migrated to Bcrypt (a secure hasher) upon the user's first successful password sign in.\nInsecure schemes are marked with `(insecure)` in the list below.\n\nEach of the supported hashers expects the incoming digest to be in a particular format. Specifically:\n\n**bcrypt:** The digest should be of the following form:\n\n`$<algorithm version>$<cost>$<salt & hash>`\n\n**bcrypt_sha256_django:** This is the Django-specific variant of Bcrypt, using SHA256 hashing function. The format should be as follows (as exported from Django):\n\n`bcrypt_sha256$$<algorithm version>$<cost>$<salt & hash>`\n\n**md5** (insecure): The digest should follow the regular form e.g.:\n\n`5f4dcc3b5aa765d61d8327deb882cf99`\n\n**pbkdf2_sha256:** This is the PBKDF2 algorithm using the SHA256 hashing function. The format should be as follows:\n\n`pbkdf2_sha256$<iterations>$<salt>$<hash>`\n\nNote: Both the salt and the hash are expected to be base64-encoded.\n\n**pbkdf2_sha512:** This is the PBKDF2 algorithm using the SHA512 hashing function. The format should be as follows:\n\n`pbkdf2_sha512$<iterations>$<salt>$<hash>`\n\n  _iterations:_ The number of iterations used. Must be an integer less than 420000.\n  _salt:_ The salt used when generating the hash. Must be less than bytes.\n  _hash:_ The hex-encoded hash. Must have been generated with a key length less than 1024 bytes.\n\n**pbkdf2_sha256_django:** This is the Django-specific variant of PBKDF2 and the digest should have the following format (as exported from Django):\n\n`pbkdf2_sha256$<iterations>$<salt>$<hash>`\n\nNote: The salt is expected to be un-encoded, the hash is expected base64-encoded.\n\n**pbkdf2_sha1:** This is similar to pkbdf2_sha256_django, but with two differences:\n1. uses sha1 instead of sha256\n2. accepts the hash as a hex-encoded string\n\nThe format is the following:\n\n`pbkdf2_sha1$<iterations>$<salt>$<hash-as-hex-string>`\n\n**phpass:** Portable public domain password hashing framework for use in PHP applications. Digests hashed with phpass have the following sections:\n\nThe format is the following:\n\n`$P$<rounds><salt><encoded-checksum>`\n\n- $P$ is the prefix used to identify phpass hashes.\n- rounds is a single character encoding a 6-bit integer representing the number of rounds used.\n- salt is eight characters drawn from [./0-9A-Za-z], providing a 48-bit salt.\n- checksum is 22 characters drawn from the same set, encoding the 128-bit checksum with MD5.\n\n**scrypt_firebase:** The Firebase-specific variant of scrypt.\nThe value is expected to have 6 segments separated by the $ character and include the following information:\n\n_hash:_ The actual Base64 hash. This can be retrieved when exporting the user from Firebase.\n_salt:_ The salt used to generate the above hash. Again, this is given when exporting the user.\n_signer key:_ The base64 encoded signer key.\n_salt separator:_ The base64 encoded salt separator.\n_rounds:_ The number of rounds the algorithm needs to run.\n_memory cost:_ The cost of the algorithm run\n\nThe first 2 (hash and salt) are per user and can be retrieved when exporting the user from Firebase.\nThe other 4 values (signer key, salt separator, rounds and memory cost) are project-wide settings and can be retrieved from the project's password hash parameters.\n\nOnce you have all these, you can combine it in the following format and send this as the digest in order for Clerk to accept it:\n\n`<hash>$<salt>$<signer key>$<salt separator>$<rounds>$<memory cost>`\n\n**scrypt_werkzeug:** The Werkzeug-specific variant of scrypt.\n\nThe value is expected to have 3 segments separated by the $ character and include the following information:\n\n_algorithm args:_ The algorithm used to generate the hash.\n_salt:_ The salt used to generate the above hash.\n_hash:_ The actual Base64 hash.\n\nThe algorithm args are the parameters used to generate the hash and are included in the digest.\n\n**argon2i:** Algorithms in the argon2 family generate digests that encode the following information:\n\n_version (v):_ The argon version, version 19 is assumed\n_memory (m):_ The memory used by the algorithm (in kibibytes)\n_iterations (t):_ The number of iterations to perform\n_parallelism (p):_ The number of threads to use\n\nParts are demarcated by the `$` character, with the first part identifying the algorithm variant.\nThe middle part is a comma-separated list of the encoding options (memory, iterations, parallelism).\nThe final part is the actual digest.\n\n`$argon2i$v=19$m=4096,t=3,p=1$4t6CL3P7YiHBtwESXawI8Hm20zJj4cs7/4/G3c187e0$m7RQFczcKr5bIR0IIxbpO2P0tyrLjf3eUW3M3QSwnLc`\n\n**argon2id:** See the previous algorithm for an explanation of the formatting.\n\nFor the argon2id case, the value of the algorithm in the first part of the digest is `argon2id`:\n\n`$argon2id$v=19$m=64,t=4,p=8$Z2liZXJyaXNo$iGXEpMBTDYQ8G/71tF0qGjxRHEmR3gpGULcE93zUJVU`\n\n**sha256** (insecure): The digest should be a 64-length hex string, e.g.:\n\n`9f86d081884c7d659a2feaa0c55ad015a3bf4f1b2b0b822cd15d6c15b0f00a08`",
                    "enum": [
                      "argon2i",
                      "argon2id",
                      "bcrypt",
                      "bcrypt_sha256_django",
                      "md5",
                      "pbkdf2_sha256",
                      "pbkdf2_sha512",
                      "pbkdf2_sha256_django",
                      "pbkdf2_sha1",
                      "phpass",
                      "scrypt_firebase",
                      "scrypt_werkzeug",
                      "sha256"
                    ]
                  },
                  "skip_password_checks": {
                    "type": "boolean",
                    "description": "Set it to `true` if you're updating the user's password and want to skip any password policy settings check. This parameter can only be used when providing a `password`.",
                    "nullable": true
                  },
                  "sign_out_of_other_sessions": {
                    "type": "boolean",
                    "description": "Set to `true` to sign out the user from all their active sessions once their password is updated. This parameter can only be used when providing a `password`.",
                    "nullable": true
                  },
                  "totp_secret": {
                    "type": "string",
                    "description": "In case TOTP is configured on the instance, you can provide the secret to enable it on the specific user without the need to reset it.\nPlease note that currently the supported options are:\n* Period: 30 seconds\n* Code length: 6 digits\n* Algorithm: SHA1"
                  },
                  "backup_codes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "If Backup Codes are configured on the instance, you can provide them to enable it on the specific user without the need to reset them.\nYou must provide the backup codes in plain format or the corresponding bcrypt digest."
                  },
                  "public_metadata": {
                    "type": "object",
                    "description": "Metadata saved on the user, that is visible to both your Frontend and Backend APIs"
                  },
                  "private_metadata": {
                    "type": "object",
                    "description": "Metadata saved on the user, that is only visible to your Backend API"
                  },
                  "unsafe_metadata": {
                    "type": "object",
                    "description": "Metadata saved on the user, that can be updated from both the Frontend and Backend APIs.\nNote: Since this data can be modified from the frontend, it is not guaranteed to be safe."
                  },
                  "delete_self_enabled": {
                    "type": "boolean",
                    "description": "If true, the user can delete themselves with the Frontend API.",
                    "nullable": true
                  },
                  "create_organization_enabled": {
                    "type": "boolean",
                    "description": "If true, the user can create organizations with the Frontend API.",
                    "nullable": true
                  },
                  "created_at": {
                    "type": "string",
                    "description": "A custom date/time denoting _when_ the user signed up to the application, specified in RFC3339 format (e.g. `2012-10-20T07:15:20.902Z`)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/User"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      },
      "delete": {
        "operationId": "DeleteUser",
        "summary": "Delete a user",
        "description": "Delete the specified user",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "The ID of the user to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/DeletedObject"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          }
        }
      }
    },
    "/users/{user_id}/ban": {
      "post": {
        "operationId": "BanUser",
        "summary": "Ban a user",
        "description": "Marks the given user as banned, which means that all their sessions are revoked and they are not allowed to sign in again.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "The ID of the user to ban",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/User"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/users/{user_id}/unban": {
      "post": {
        "operationId": "UnbanUser",
        "summary": "Unban a user",
        "description": "Removes the ban mark from the given user.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "The ID of the user to unban",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/User"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          }
        }
      }
    },
    "/users/{user_id}/lock": {
      "post": {
        "operationId": "LockUser",
        "summary": "Lock a user",
        "description": "Marks the given user as locked, which means they are not allowed to sign in again until the lock expires.\nLock duration can be configured in the instance's restrictions settings.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "The ID of the user to lock",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/User"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          }
        }
      }
    },
    "/users/{user_id}/unlock": {
      "post": {
        "operationId": "UnlockUser",
        "summary": "Unlock a user",
        "description": "Removes the lock from the given user.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "The ID of the user to unlock",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/User"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationInvalid"
          }
        }
      }
    },
    "/users/{user_id}/profile_image": {
      "post": {
        "operationId": "SetUserProfileImage",
        "summary": "Set user profile image",
        "description": "Update a user's profile image",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "The ID of the user to update the profile image for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/User"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "404": {
            "$ref": "#/components/responses/ClerkErrors"
          }
        }
      },
      "delete": {
        "operationId": "DeleteUserProfileImage",
        "summary": "Delete user profile image",
        "description": "Delete a user's profile image",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "The ID of the user to delete the profile image for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/User"
          },
          "404": {
            "$ref": "#/components/responses/ClerkErrors"
          }
        }
      }
    },
    "/users/{user_id}/metadata": {
      "patch": {
        "operationId": "UpdateUserMetadata",
        "summary": "Merge and update a user's metadata",
        "description": "Update a user's metadata attributes by merging existing values with the provided parameters.\n\nThis endpoint behaves differently than the *Update a user* endpoint.\nMetadata values will not be replaced entirely.\nInstead, a deep merge will be performed.\nDeep means that any nested JSON objects will be merged as well.\n\nYou can remove metadata keys at any level by setting their value to `null`.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "The ID of the user whose metadata will be updated and merged",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "public_metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Metadata saved on the user, that is visible to both your frontend and backend.\nThe new object will be merged with the existing value."
                  },
                  "private_metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Metadata saved on the user that is only visible to your backend.\nThe new object will be merged with the existing value."
                  },
                  "unsafe_metadata": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Metadata saved on the user, that can be updated from both the Frontend and Backend APIs.\nThe new object will be merged with the existing value.\n\nNote: Since this data can be modified from the frontend, it is not guaranteed to be safe."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/User"
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationInvalid"
          },
          "404": {
            "$ref": "#/components/responses/ResourceNotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/users/{user_id}/oauth_access_tokens/{provider}": {
      "get": {
        "operationId": "GetOAuthAccessToken",
        "summary": "Retrieve the OAuth access token of a user",
        "description": "Fetch the corresponding OAuth access token for a user that has previously authenticated with a particular OAuth provider.\nFor OAuth 2.0, if the access token has expired and we have a corresponding refresh token, the access token will be refreshed transparently the new one will be returned.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "The ID of the user for which to retrieve the OAuth access token",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "provider",
            "in": "path",
            "description": "The ID of the OAuth provider (e.g. `oauth_google`)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The OAuth access token of the user, if any.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": false,
                    "properties": {
                      "object": {
                        "type": "string"
                      },
                      "external_account_id": {
                        "description": "External account ID",
                        "type": "string"
                      },
                      "provider_user_id": {
                        "description": "The unique ID of the user in the external provider's system",
                        "type": "string"
                      },
                      "token": {
                        "type": "string",
                        "description": "The access token"
                      },
                      "provider": {
                        "type": "string",
                        "description": "The ID of the provider"
                      },
                      "public_metadata": {
                        "type": "object"
                      },
                      "label": {
                        "type": "string",
                        "nullable": true
                      },
                      "scopes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "The list of scopes that the token is valid for.\nOnly present for OAuth 2.0 tokens."
                      },
                      "token_secret": {
                        "type": "string",
                        "description": "The token secret. Only present for OAuth 1.0 tokens."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ClerkErrors"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        }
      }
    },
    "/users/{user_id}/organization_memberships": {
      "get": {
        "operationId": "UsersGetOrganizationMemberships",
        "summary": "Retrieve all memberships for a user",
        "description": "Retrieve a paginated list of the user's organization memberships",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "The ID of the user whose organization memberships we want to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/LimitParameter"
          },
          {
            "$ref": "#/components/parameters/OffsetParameter"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/OrganizationMemberships"
          },
          "403": {
            "$ref": "#/components/responses/ClerkErrors"
          }
        }
      }
    },
    "/users/{user_id}/verify_password": {
      "post": {
        "operationId": "VerifyPassword",
        "summary": "Verify the password of a user",
        "description": "Check that the user's password matches the supplied input.\nUseful for custom auth flows and re-verification.",
        "tags": [
          "Users"
        ],
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "The ID of the user for whom to verify the password",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "The user password to verify"
                  }
                },
                "required": [
                  "password"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The provided password was correct.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "verified": {
                      "type": "boolean",
                      "nullable": false
                    }
                  }
                }
              }
            }
          },
          "400": {
[...]
